<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_counter">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <meta-data android:name="com.google.android.geo.API_KEY"
               android:value="AIzaSyAg1BOx5TJf_uuC7ynvlUrZre0vVEjvG2k"/>
</manifest>
